.play {
  height: 110px;
  width: 110px;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
  cursor: pointer;
}

.description {
  padding: 10px 20px;
  font-size: 20px;
  color: white;
}

.card-title {
  font-weight: bold;
  font-size: 15px;
  width: 90%;
}
ul {
  list-style: none;
  font-style: oblique;
  font-size: 12px;
}
ul li {
  display: inline-block;
}
ul li::after {
  content: ", ";
}

ul li:last-child::after {
  content: " ";
}

.svg-inline--fa.fa-w-18,
.svg-inline--fa.fa-w-17 {
  margin: 0 5px;
}

.movie-button-wrap {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.btn-movie {
  min-width: 250px;
  margin: 10px 0;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 0;
  padding: 0.5em;
}

.dropdown-toggle::after {
  position: absolute;
  right: 10px;
  bottom: 17px;
}

.checkout-wrap {
  border: 5px solid #007bff;
  border-radius: 2px;
  position: relative;
  height: 80px;
}

.btn-checkout {
  padding: 22px 10px;
  margin: auto;
  border-radius: 0;
  position: absolute;
  right: 0;
}

.checkout-item {
  padding: 0 30px;
  height: 100%;
  color: #007bff;
}
.checkout-item:first-child {
  border-right: 4px solid #007bff;
}
.checkout-item span {
  text-align: center;
  font-size: 2em;
  display: block;
  color: currentColor;
}
