.outer-wrap,
.inner-wrap {
  display: flex;
}

.img-wrap {
  height: 320px;
  width: 250px;
}

.content-wrap .card-body {
  align-items: baseline;
}

@media only screen and (max-width: 768px) {
    .card-body {
        align-items: center !important;
    }
    
}
