.play {
  height: 110px;
  width: 110px;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
  cursor: pointer;
}

.svg-inline--fa.fa-w-18,
.svg-inline--fa.fa-w-17 {
  margin: 0 5px;
}

.movie-button-wrap {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.checkout-wrap {
  border: 5px solid #007bff;
  border-radius: 2px;
  position: relative;
  height: 80px;
}

.btn-checkout {
  padding: 22px 10px;
  margin: auto;
  border-radius: 0;
  position: absolute;
  right: 0;
}

.checkout-item {
  padding: 0 30px;
  height: 100%;
  color: #007bff;
}

.checkout-item:first-child {
  border-right: 4px solid #007bff;
}

.checkout-item span {
  text-align: center;
  font-size: 2em;
  display: block;
  color: currentColor;
}

.card,
.card-body,
.card-img-top {
  border: 0;
  color: antiquewhite;
}

.card-body {
  border-radius: .25rem;
}

.booked-seat {
  min-height: 50px;
  max-width: 250px;
  display: flex;
  flex-flow: wrap;
  overflow: auto;
  padding: 0.5em 0;
  width: 100%;
  background: #9c9c9c0f;
  justify-content: flex-start;
  align-content: flex-start;
  font-size: 0.8em;
}

.seat-booked-number {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu {
  background: black;
}

.dropdown-menu .active, .position-relative .active {
  background: #ffea00;
  color: #212529;
}

.dropdown-item {
  color: #a0a0a0;
}

.dropdown-menu .dropdown-item:hover {
  background: #212529;
  color: #a0a0a0;
}

.bo-dropdown .dropdown button {
  min-width: 250px;
  border-radius: 0;
  text-transform: uppercase;
  text-align: left;
  background: #ffea00;
  color: #ffea00;
  border-bottom: 1px solid;
  background: transparent;
}

.bo-dropdown .dropdown button::after {
  position: absolute;
  right: 0;
  top: 11px;
}

.bo-time-chooser,
.bo-date-chooser,
.bo-dropdown {
  color: #a0a0a0;
}

.bo-time-chooser div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bo-time-chooser div span {
  padding: 5px;
}

.bo-time-chooser div .active {
  border-bottom: 1px solid #ffea00;
  color: #ffea00;
}

.bo-date-chooser .date-item {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-transform: uppercase;
  font-size: 11px;
}

.bo-date-chooser .date-item .position-relative span {
  position: absolute;
  top: 10px;
  text-align: center;
  width: 100%;
}

.bo-movie-poster {
  height: 225px;
  width: 170px;
}

.bo-book-show {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  font-size: 15px;
  border-bottom: 2px solid #212529;
}

.bo-book-show .bo-wrap {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.bo-seat-layout {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.bo-seat-layout .price {
  display: flex;
  flex-flow: column;
  text-transform: uppercase;
  justify-content: center;
  padding: 0 1em;
  color: #c5c5c5;
}

.bo-seat-layout .ticket-count {
  color: #ffea00;
  font-size: 1.2em;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  height: 6vh;
  margin: auto;
  width: 35vh;
  background: #212529;
  transform: perspective(80vh) rotateX(-40deg);
  color: darkgray;
}

.bo-movie-title {
  color: #ffea00;
}

.bo-movie-title .circle {
  fill: transparent;
  stroke-width: 3px;
  stroke-dasharray: 125;
  transition: all 0.4s ease-in-out;
}

.bo-movie-title .circle-wrap {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bo-movie-title .title-wrap {
  display: flex;
  flex-flow: column;
}
