.show-time {
	font-size: 12px;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 2px;
	background: #64b5f6;
    margin: 10px 10px 0 0;
    cursor: pointer;
}

.theatre-card {
	height: 200px;
	max-width: 250px;
	width: 150px;
}
