@import "./Variables.css";

.card-img-banner {
  border-radius: 0.2em;
}

.card-wrap {
  margin: 0px;
}

/* // ******** Card Component Styles ******** // */

.card {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  transition: all 0.2s ease-in-out;
  background: transparent;
  color: #656565;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.card:hover {
  transform: scale(0.97);
}

/* // ******* Seat Allot Component Styles ****** // */
.seat-row-card {
  border: 5px solid #e53935;
  height: 45px;
  width: 45px;
  line-height: 35px;
  border-radius: 50%;
  background-color: #ef5350;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  margin: 10px 0;
}

.seat-section {
  margin: 1em 0 0 0;
  color: whitesmoke;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: 10px;
  padding: 1.2em;
}

.seat-layout {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.seat {
  display: inline-block;
  position: relative;
  top: 12px;
  padding: 2px;
  font-size: 90%;
  transition: all 0.2s ease-in-out;
}

.seat:hover {
  transform: scale(1.1);
}

.seat-number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 7px;
  height: 100%;
  width: 100%;
  color: #c5c5c5;
}

.footer {
  color: ff304f;
  font-size: 17px;
  margin-top: 10px;
  font-weight: bold;
  padding: 10px;
}

.booked {
  pointer-events: none;
  color: #f44336 !important;
}

.btn-buy-ticket,
.btn-proceed {
  padding: 0.7em 2em;
  border: 0;
  background: #ffea00;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-self: start;
}

.btn-trailer {
  background: #ffea00;
  color: white;
  transition: all 0.2s ease-in-out;
  padding: 1em;
  border: 0;
  width: 100%;
  text-transform: uppercase;
  display: block;
  font-size: 0.7em;
}

.description-banner {
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  margin: -10px -15px;
  background: #090909;
}

.description {
  padding-top: 74px;
}

.btn-buy-ticket:hover,
.btn-trailer:hover {
  font-size: large;
}

.disabled {
  margin: 20px auto;
  font-weight: bold;
  pointer-events: none;
  background-color: #9e9e9e !important;
  border-color: #757575 !important;
}

a:hover,
.nav-item:hover {
  color: #ffea00;
}

.carousel-item img {
  height: 60vh;
}

.navbar-nav {
  align-items: center;
}

.navbar-nav .active {
  transition: all 3s ease;
  color: #ffea00;
  border-bottom: 2px solid;
}

.movie-card {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #ffea00;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.3s ease-out;
}

.card:hover .movie-card {
  bottom: 0;
  height: 100%;
}

.navbar-brand {
  cursor: pointer;
}

.btn-booking {
  background: #ffea00;
  color: whitesmoke;
  border: transparent;
}

.checkout-table {
  height: 100%;
  width: 100%;
  margin: 1em 0;
  color: whitesmoke;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  background: #b7b7b720;
}

.checkout-table tr td {
  padding: 1em;
  text-transform: uppercase;
}
